<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all"></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body style="font-size: 14px">
<span th:text="${mailHeadsUp + ' '}"></span>
<span style="font-weight: bold" th:text="${userName + ', '}"></span>
<p th:text="${mailDescription}"></p>
<ul style="margin: 0">
    <li>
        <span th:text="${mailOrderPrice} + ': '"></span>
        <span th:text="${orderPrice} + '€'"></span>
    </li>
    <li>
        <span th:text="${mailOrderDeliveryDate} + ': '"></span>
        <span th:text="${deliveryDate}"></span>
    </li>
    <li>
        <span th:text="${mailOrderStatusDetails} + ': '"></span>
        <span th:text="${orderLink}"></span>
    </li>
</ul>
<p th:text="${mailWrapUp}"></p>
<p th:text="${mailOutro}"></p>
</body>
</html>